<template>
  <v-layout row wrap>
    <v-flex xs12 class="text-xs-center header">
      <span>発達障害のためのシンプルなタスク管理ツール</span>
      <h1>本質アプリ</h1>
    </v-flex>
    <v-flex xs6 offset-xs3>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
}
</script>

<style>
.header {
  background-color: #507256;
  color: #fff;
  height: 400px;
}
</style>

